.container1{background: linear-gradient(to right, blue, rgb(196, 64, 196));}

.container2{background-image: url(imagen5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    margin: 3mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

h1{
    text-align:center ; 
    padding: 0.5em; 
    color:rgb(235, 235, 235); 
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20%;
    }

footer{text-align: center;}  